.archive-header{
	@extend .listing-header;
}
.archive article{
	@extend .listing-article;
}
.archive article:first-of-type{
	margin-top: 0;
}

.archive-title {
	font-family: "Montserrat Subrayada", arial, sans-serif;
	font-size: 32px;
	font-weight: 900;
	line-height: 1.5;
	margin: 0;
	@each $color in $colors {
	    .category-#{nth($color, 1)} &{
	        color: nth($color, 2);
	        text-shadow: 1px 1px 3px tint(nth($color, 2), 60%);
	    }
	}
}

.taxonomy-description{
	color: #767676;
	font-size: 14px;
	line-height: 1.2857142857;
	padding-top: 6px;
}

.taxonomy-description p{
	margin-bottom: 18px;
}

.taxonomy-description p:last-child{
	margin-bottom: 0;
}

.taxonomy-description a{
	text-decoration: underline;
}

.taxonomy-description a:hover{
	text-decoration: none;
}

@media screen and (max-width: 400px) {
	.archive-header,
	.page-header {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		margin: 24px auto 0;
		padding-bottom: 24px;
	}
}