#site-header {
  color: #444;
  margin: 0;
  position: relative;
  padding: 4px;
  width: 95%;
  float: right;
  padding: 4px 0 18px;
  border-radius: 6px;
  z-index: 0;
  white-space: nowrap;
  *{
	  display: inline-block;
	  padding: 8px 4px 0;
  }
}
@media (min-width: 600px) {
  #site-header * {
    padding: 6px 3px 0;
  }
}
@media (min-width: 1150px) {
  #site-header * {
    padding: 0 6px 0 22px;
  }
}
#site-header::before {
  content: '';
  position: absolute;
  top: 6px;
  right: 0;
  @include breakpoint( mama-bear ){
	  right: -20px;
  }
  bottom: 12px;
  left: 0;
  z-index: -1;
  border-bottom: none;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 2px rgba(255, 255, 255, 0.5) inset;
  @include transform( translateZ(0) perspective(40px) rotateX(-2deg) );
  @include transform-origin( bottom right );
  background: lightblue;
}
#site-header::after {
  content: ' ';
  display: table;
  clear: both;
}
@media (min-width: 1150px) {
  #site-header {
    width: 50%;
  }
  #site-header * {
    display: block;
  }
}
#site-header h1 {
  margin: 0;
  font-family: "Montserrat Subrayada", arial, sans-serif;
  color: black;
  text-decoration: none;
  font-size: 13px;
}
@media (min-width: 600px) {
  #site-header h1 {
    font-size: 28px;
  }
}
@media (min-width: 1150px) {
  #site-header h1 {
    font-size: 36px;
  }
}
#site-header div {
  font-size: 10px;
}
@media (min-width: 600px) {
  #site-header div {
    font-size: 13px;
  }
}

/* Ensure that there is no gap between the header and
   the admin bar for WordPress versions before 3.8. */
#wpadminbar {
	min-height: 32px;
}

#site-header {
	position: relative;
	z-index: 3;
}

.site-header {
	background-color: #000;
	max-width: 1260px;
	position: relative;
	width: 100%;
	z-index: 4;
}

.header-main {
	min-height: 48px;
	padding: 0 10px;
}

.site-title {
	float: left;
	font-size: 18px;
	font-weight: 700;
	line-height: 48px;
	margin: 0;
}

.site-title a,
.site-title a:hover {
	color: #fff;
}