@mixin breakpoint($point) {
  @if $point == papa-bear {
    @media (min-width: 1150px) { @content; }
  }
  @else if $point == mama-bear {
    @media (min-width: 600px) { @content; }
  }
  @else if $point == baby-bear {
    @media (max-width: 599px)  { @content; }
  }
}

/* ---------------------------------------------
     variables
--------------------------------------------- */
$slate_blue:    slategrey;  
$home_color:    rgb(43, 96, 150); 
$dad_color:     #a2450d; 
$web_color:     #4e033b; 
$food_color:    #328b0c;
$wood_color:    #692a04;
$about_color:   #11386a;
$secured_color: #555555;

$colors: home $home_color, dad $dad_color, web $web_color, food $food_color, wood $wood_color, about $about_color, secured $secured-color;
