.cat-links {
	font-weight: 900;
	text-transform: uppercase;
}

.cat-links a {
	color: #2b2b2b;
}

.cat-links a:hover {
	color: #666666;
}


/* ---------------------------------------------
     navigation

     originated from http://lea.verou.me/2013/10/slanted-tabs-with-css-3d-transforms/
--------------------------------------------- */
.nav-main {
  overflow: hidden;
  position: relative;
  min-height: 25px;
  top: 43px;
  white-space: nowrap;
  z-index: 1;
  overflow: visible;
}
.nav-main:after {
  content: "\2630";		//three line navicon
  position: absolute;
  top: 1px;
  right: 10px;
  z-index: 2;
  pointer-events: none;
  color: white;
}
@media (min-width: 600px) {
  .nav-main:after {
    display: none;
  }
}
.nav-main a {
  display: block;
  font-family: $nav_font;
  font-weight: 500;
  color: #444;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  line-height: 23px;
  padding: 2px 3px 0;
  background: linear-gradient(#cccccc, #999999);
  font-size: 19px;
}
@media (min-width: 600px) {
	.nav-main a {
		display: inline-block;
		position: relative;
		margin: 0 -7px;
		padding: 1.5em 2em 1em 1em;
		width: auto;
		background: none;
		height: auto;
	}
	.nav-main a:before {
		transition: all .2s linear;
		border: .1em solid #aaa;
	}
	@each $color in $colors {
		.nav-main a.#{nth($color, 1)}:before{
			background: tint( nth($color, 2), 70% );
		}
	    .nav-main a.#{nth($color, 1)}:hover:before{
	    	background: tint( nth($color, 2), 40% );
	    }
	}
	@each $color in $colors {
		.nav-main a.active.#{nth($color, 1)}:before{
			background: nth($color, 2);
		}
	}
  .nav-main a:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: .6em;
    left: 0;
    z-index: -1;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 2px rgba(255, 255, 255, 0.5) inset;
    @include transform( translateZ(0) perspective(5px) rotateX(2deg) );
    @include transform-origin( bottom left );
  }
  .nav-main a.active {
    z-index: 2;
    color: white;
    text-shadow: 0 0 4px #555;
  }
  .nav-main a.active:before {
    margin-bottom: -3px;
    border-top-width: 1px;
    border-bottom: 0;
  }
}
.nav-main a.active {
  border: 0;
  z-index: 1;
  color: white;
}
@media (max-width: 599px) {
	@each $color in $colors {
		.nav-main a.#{nth($color, 1)}{
			background: tint( nth($color, 2), 70% );
		}
		.nav-main a.active.#{nth($color, 1)}{
			background: nth($color, 2);
		}
	}
}
@media (max-width: 599px) {
  .nav-main.open a {
    position: relative;
    display: block;
  }
}

//for the active nav item make the cursor the arrow instead of the pointer
.nav-main a.active{
	cursor: default;
}

.nav-main a span{
	margin-right: 10px;
}