.cat-links {
	font-weight: 900;
	text-transform: uppercase;
}

.cat-links a {
	color: #2b2b2b;
}

.cat-links a:hover {
	color: #666666;
}


/* ---------------------------------------------
     navigation

     originated from http://lea.verou.me/2013/10/slanted-tabs-with-css-3d-transforms/
--------------------------------------------- */
.nav-main {
  overflow: hidden;
  position: relative;
  min-height: 25px;
  top: 43px;
  white-space: nowrap;
  z-index: 1;
  overflow: visible;
}
.nav-main::after {
  content: "\2630";
  /* "Three Line Menu Navicon" shows up */
  position: absolute;
  top: 1px;
  right: 10px;
  z-index: 2;
  pointer-events: none;
  color: white;
}
@media (min-width: 600px) {
  .nav-main::after {
    display: none;
  }
}
.nav-main a {
  display: block;
  font-family: "Montserrat Subrayada", arial, sans-serif;
  color: #444;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  line-height: 23px;
  padding: 2px 3px 0;
  background: linear-gradient(#cccccc, #999999);
  font-weight: 400;
  font-size: 17px;
}
@media (min-width: 600px) {
  .nav-main a {
    display: inline-block;
    position: relative;
    margin: 0 -7px;
    padding: 1.5em 2em 1em 1em;
    width: auto;
    background: none;
    height: auto;
  }
  .nav-main a::before {
    transition: all .2s linear;
    border: .1em solid #aaa;
  }
  .nav-main a.welcome:hover::before {
    background: $welcome_color;
  }
  .nav-main a.welcome::before {
    background: $welcome_color;
  }
  .nav-main a.home:hover::before {
    background: #c78f6d;
  }
  .nav-main a.home::before {
    background: #e3c7b6;
  }
  .nav-main a.web:hover::before {
    background: #946789;
  }
  .nav-main a.web::before {
    background: #c9b3c4;
  }
  .nav-main a.food:hover::before {
    background: #84b96d;
  }
  .nav-main a.food::before {
    background: #c1dcb6;
  }
  .nav-main a.wood:hover::before {
    background: #a57f68;
  }
  .nav-main a.wood::before {
    background: #d2bfb3;
  }
  .nav-main a.about:hover::before {
    background: #7087a5;
  }
  .nav-main a.about::before {
    background: #b7c3d2;
  }
  .nav-main a.secured:hover::before {
    background: #999999;
  }
  .nav-main a.secured::before {
    background: #cccccc;
  }
  .nav-main a::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: .5em;
    left: 0;
    z-index: -1;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 2px rgba(255, 255, 255, 0.5) inset;
    @include transform( translateZ(0) perspective(5px) rotateX(2deg) );
    @include transform-origin( bottom left );
  }
  .nav-main a.active {
    z-index: 2;
    color: white;
    text-shadow: 0 0 4px #555;
  }
  .nav-main a.active::before {
    margin-bottom: -1px;
    border-top-width: 1px;
    border-bottom: 0;
  }
  .nav-main a.active.home::before {
    background: #a2450d;
  }
  .nav-main a.active.web::before {
    background: #4e033b;
  }
  .nav-main a.active.food::before {
    background: #328b0c;
  }
  .nav-main a.active.wood::before {
    background: #692a04;
  }
  .nav-main a.active.about::before {
    background: #11386a;
  }
  .nav-main a.active.secured::before {
    background: #555555;
  }
}
.nav-main a.active {
  border: 0;
  z-index: 1;
  /* Active tab is on top */
  color: white;
}
@media (max-width: 599px) {
  .nav-main a.active.home {
    background: #a2450d;
  }
  .nav-main a.active.web {
    background: #4e033b;
  }
  .nav-main a.active.food {
    background: #328b0c;
  }
  .nav-main a.active.wood {
    background: #692a04;
  }
  .nav-main a.active.about {
    background: #11386a;
  }
  .nav-main a.active.secured {
    background: #555555;
  }
}
@media (max-width: 599px) {
  .nav-main.open a {
    position: relative;
    display: block;
  }
}
