%heading-base{
	clear: both;
	margin: 0;
	padding: 0;
	font-weight: 500;
	font-family: $header_font;
	@each $color in $colors {
	    .category-#{nth($color, 1)} &{
	        color: nth($color, 2);
	    }
	}
}

article h1 {
	@extend %heading-base;
	font-size: 1.6em;
}

article h2 {
	@extend %heading-base;
	font-size: 1.3em;
	margin-top: 20px;
}
article h3 {
	@extend %heading-base;
	font-size: 1em;
	margin-top: 10px;
}

article p {
  margin: 8px;
  font-size: .9em;
}
.single article p:first-of-type {
  margin-top: 15px;
}